<div class="flex items-center justify-center gap-x-2 py-2 px-4 rounded-md border border-gray-300">
  <%= image_tag provider_icon_path(service.provider), class: "size-5" %>
  <p class="text-sm text-gray-500"><%= service.provider.capitalize %></p>
</div>